# Python
__pycache__/
*.py[cod]
*.pyc
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data files
*.csv
*.txt
!requirements.txt
data/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Colab/environment
.env